// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

// Colors
$lightCyan: #cfe4e9;
$neonGreen: #52ffa8;
$grayishBlue: #4e5d73;
$darkGrayishBlue: #323a49;
$darkBlue: #1f2632;

$radius: 25px;